<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-12">
            <h1 class="text-center">Promoções</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-between align-items-center">
            <div class="col-4 me-5">
                    <img class="img-thumbnail" src="https://plus.unsplash.com/premium_photo-1682503147617-c6ca0e1e4fe6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="col-8">
                <h4>Cashback com suas compras</h4>
                <p>Com o cartão de crédito ficou ainda mais fácil ter cashback e pontos extras para usar de acordo com
                    suas necessidades.</p>
                <p>Váldio no período: 01/04/2025 à 30/07/2026</p>

                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-danger rounded-pill py-3 px-5" [routerLink]="['/detalhes-optin-campanha']">
                        Saiba Mais
                    </button>
                    <span class="badge text-bg-success p-2">você já está participando</span>
                </div>
            </div>
        </div>
    </div>
</div>