<div class="container m-5">
    <div class="row">
        <div class="col-8">
            <h2>{{ metasCampanhas[0]?.nome }}</h2>
            <p>Escolha uma das metas para prosseguir.</p>
        </div>
        <div class="col-4">
            <a class="d-flex justify-content-center align-items-center" href="http://" target="_blank"
                rel="noopener noreferrer">
                <div><img class="icon-question" src="./../../assets/circle-question-regular.svg" alt="Ícone"></div>
                <div>
                    <p>Dúvidas frequentes</p>
                </div>

            </a>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">

        <div class="col-1">
            <span>
                <img class="icones" src="./../../assets/chevron-left-solid.svg" alt="Ícone">
            </span>
        </div>

        <div class="col-10">
            <div class="carousel-container">
                <div class="carousel-wrapper">

                    <div *ngFor="let card of metasCampanhas; let i = index" class="carousel-card d-flex justify-content-evenly align-items-center" >
                        <!-- cards -->
                        <div *ngFor="let meta of card.metas; let j = index" class="m-3 cards-objetivos">
                            <!-- INFOS METAS -->
                            <div class="infos-metas infos-metas-{{i}}"
                                [ngClass]="{ 'hidden': (card.metas['meta' + metaSelecionada[i]]) === 100 }">
                                <h2>{{ meta.ciclo }}</h2>
                                <p>{{ card.descricao }}</p>

                                <!-- escolha das metas -->
                                <button class="cards-valores-metas" [ngClass]="{'active': metaSelecionada[i] === 1}"
                                    (click)="selecionarMeta(meta.valoresMeta[0].valorMeta , i, 1 )">{{ meta.valoresMeta[0].valorMeta |
                                    currencyFormat }}</button>

                                <button class="cards-valores-metas" [ngClass]="{'active': metaSelecionada[i] === 2}"
                                    (click)="selecionarMeta(meta.valoresMeta[1].valorMeta, i, 2)">{{ meta.valoresMeta[1].valorMeta |
                                    currencyFormat }}</button>

                                <button class="cards-valores-metas" [ngClass]="{'active': metaSelecionada[i] === 3}"
                                    (click)="selecionarMeta(meta.valoresMeta[2].valorMeta, i, 3)">{{ meta.valoresMeta[1].valorMeta |
                                    currencyFormat }}
                                </button>

                                <p class="my-4">
                                    Alcance e Ganhe:<br>
                                    <span><strong>R$ 1,00 a cada 15,00 gastos</strong></span>

                                </p>

                                <button id="confirmarObjetivo-{{i}}" class="confirmar-objetivo-meta"
                                    [ngClass]="{'enabled': metaSelecionada[i], 'disabled': !metaSelecionada[i]}"
                                    [disabled]="!metaSelecionada[i]" (click)="confirmarObjetivo(i)">
                                    Quero esse
                                </button>
                            </div>

                            <!-- INFOS OBJETIVOS -->
                            <div class="infos-objetivo infos-objetivo-{{i}}"
                                [ngClass]="{ 'hidden': (card.metas['meta' + metaSelecionada[i]]) === 100 }">
                                <h3 class="titulo-objetivo">{{ card.titulo }}</h3>
                                <div class="d-flex justify-content-between">
                                    <p>Suas compras:</p><span>0000</span>
                                </div>
                                <!-- barra de progressão -->
                                <div class="progress mb-3" role="progressbar" aria-label="Andamento da meta"
                                    [attr.aria-valuenow]="metaSelecionada[i] !== null && card.metas['meta' + metaSelecionada[i]] ? (card.metas['meta' + metaSelecionada[i]]) : 0"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-success"
                                        [style.width.%]="metaSelecionada[i] !== null ? (card.metas['meta' + metaSelecionada[i]]) : 0">

                                        <ng-container
                                            *ngIf="metaSelecionada[i] !== null ? (card.metas['meta' + metaSelecionada[i]]) : 0">
                                            {{ ((card.metas['meta' + metaSelecionada[i]]) |
                                            number:'1.0-2')}} %
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Sua meta:</p><span *ngIf="metaSelecionada[i]">{{ card.metas['meta' +
                                        metaSelecionada[i]] | currencyFormat }}</span>
                                </div>
                                <!-- barra de progressão -->

                                <p>Dica: concentre suas compras do dia a dia no cartão da promoção</p>

                                <div class="recompensa-objetivo mb-3">
                                    <div class="d-flex align-items-center">
                                        <img class="icones" src="../../assets/circle-question-regular.svg" alt="">
                                        <span>Recompensa<strong><br />3 pontos por dólar gasto</strong></span>
                                    </div>

                                </div>

                                <a href="javascript:void(0)" (click)="mudarObjetivo(i)"
                                    class="link-mudar-objetivo">Mudar
                                    objetivo</a>
                                <!-- <span>Não é posível mudar seu objetivo</span> -->
                            </div>

                            <!-- INFOS METAS CONCLUÍDAS -->
                            <div *ngIf="(card.metas['meta' + metaSelecionada[i]]) === 100"
                                class="infos-meta-concluida infos-meta-concluida-{{i}} show">
                                <h3>Meta concluída</h3>
                                <p>parabéns, você atingiu a meta!</p>
                                <div class="progress" role="progressbar" aria-label="Resultado da meta"
                                    [attr.aria-valuenow]="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-warning" style="width: 100%">100%</div>
                                </div>
                            </div>

                            <!-- SEM OBJETIVOS -->
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-1">
            <span>
                <img class="icones" src="./../../assets/chevron-right-solid.svg" alt="Ícone">
            </span>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-8">
            <a class="d-flex align-items-center" href="http://" target="_blank" rel="noopener noreferrer">
                <div><img class="icon-question" src="./../../assets/" alt="voltar"></div>
                <div>
                    <p>Voltar</p>
                </div>

            </a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <a class="text-end" href="http://" target="_blank" rel="noopener noreferrer">Não quero mais participar</a>
        </div>
    </div>
</div>