button {
    width: 100%;
    height: 35px;
    margin: 2px 0px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 0px;
    font-size: 16px;
    color: #fff;
    border: none;
}

.icones{ width: 1em; };
.icon-question{ width: 1.8em; }

.confirmar-objetivo-meta.disabled {
    background-color: #a7a8ac;
    color: #FFF;
    cursor: not-allowed;
}
.confirmar-objetivo-meta.enabled {
    background-color: #ff0000;
    color: #FFF;
    cursor: pointer;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.carousel-wrapper {
    display: flex;
    transition: transform 1s ease;
}
.carousel-card {
    min-width: calc(100% / 3);
    transition: transform 1s ease;
}
.carousel-card.visible { opacity: 1 }
.carousel-card.hidden { opacity: 0; transform: translateX(-100%); }

.cards-objetivos {
    max-width: 450px;
    height: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 6px 4px 8px #c7c7c7;
    transition: transform 1.5s ease-out;
    flex: 0 0 calc(100% / 3);
    margin: 0 10px;
}

.cards-valores-metas{border: 2px solid #007bff; color: #007bff; }
.cards-valores-metas:hover { background-color: #007bff; color: #FFF; }
.cards-valores-metas.selected { background-color: #28a745; border-color: #28a745; }
.cards-valores-metas.active { background-color: #007bff; color: #FFF;}

.infos-objetivo {
    display: none;
    h3 {
        color: #3751a2;
    }
}
.txt-objetivo {
    display: flex;
    justify-content: space-between;

    p {
        color: #3b3b3b;
        font-weight: 500;
    }
}
.infos-objetivo {
    display: none;

    &.show {
        display: block;
    }
}
.info-objetivo.show { display: block; }
.infos-metas.d-none { display: none; }

.infos-meta-concluida{ display: none}
.infos-meta-concluida.show{ display: block;}

.navegacao {
    width: auto;
    position: absolute;
}

.hidden { display: none; }

.progress { border: 1px solid #dcdcdc}